.help-search {
  background: url("../images-site/help-center-bj.jpg") center center no-repeat #4d98f7;
  height: 280px;
  overflow: hidden;
  color: #ffffff;
}
.help-search a {
  color: #ffffff;
  margin-right: 15px;
}
.help-search .w1140 {
  padding-top: 40px;
  text-align: center;
  line-height: 2.8em;
}
.help-search .search-form {
  width: 526px;
  background: url("../images-site/jx.png") left top no-repeat;
  position: relative;
  margin: 10px auto 0;
  padding-top: 50px;
}
.help-search .search-form .s-icon {
  position: absolute;
  background: url("../images-site/seach.png") no-repeat;
  width: 28px;
  height: 28px;
  right: 12px;
  top: 10px;
  cursor: pointer;
}
.help-search .search-form input {
  width: 400px;
  border: 0;
  position: absolute;
  left: 20px;
  top: 10px;
  height: 27px;
  line-height: 27px;
}
.help-card-list {
  background: #ffffff;
  padding: 20px 0 0px;
  overflow: hidden;
  zoom: 1;
}
.help-card-list .hd {
  border-left: 2px solid #f15d59;
  padding-left: 10px;
  line-height: 14px;
  height: 14px;
  margin: 0 20px 40px;
}
.help-card-list .bd {
  width: 1140px;
  margin: 0 20px;
}
.help-card-list .bd .card {
  width: 230px;
  padding: 15px 15px 25px;
  background: #f1f3f6;
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
  border-radius: 6px ;
}
.help-card-list .bd .card h3 {
  font-weight: normal;
  font-size: 14px;
}
.help-card-list .bd .card h3 img {
  margin-right: 5px;
}
.help-card-list .bd .card h3 a {
  float: right;
  font-size: 12px;
  color: #999999;
}
.help-card-list .bd .card h3 a:hover {
  color: #5a9bee;
}
.help-card-list .bd .card p {
  margin-top: 25px;
}
.help-card-list .bd .card p a {
  color: #737880;
}
.help-card-list .bd .card p a:hover {
  color: #4285f5;
}
.help-hot-list {
  background: #ffffff;
  padding: 20px 0 0px;
  overflow: hidden;
  zoom: 1;
}
.help-hot-list .hd {
  border-left: 2px solid #f15d59;
  padding-left: 10px;
  line-height: 14px;
  height: 14px;
  margin: 0 20px 10px;
}
.help-hot-list .hd a {
  float: right;
  font-size: 12px;
  color: #999999;
}
.help-hot-list .hd a:hover {
  color: #5a9bee;
}
.help-hot-list .bd {
  overflow: hidden;
  padding: 20px;
  line-height: 40px;
}
.help-hot-list .bd p {
  width: 48%;
  float: left;
  padding-left: 1%;
  background: url("../images-site/list-dot.png") left center no-repeat;
}
.help-hot-list .bd p a {
  color: #737880;
}
.help-hot-list .bd p a:hover {
  color: #4285f5;
}
.help-quick {
  background: #ffffff;
  padding: 20px 0 0px;
  overflow: hidden;
  zoom: 1;
}
.help-quick .hd {
  border-left: 2px solid #f15d59;
  padding-left: 10px;
  line-height: 14px;
  height: 14px;
  margin: 0 20px 30px;
}
.help-quick .bd {
  overflow: hidden;
  padding: 20px;
  padding-left: 70px;
  padding-bottom: 30px;
}
.help-quick .bd dl {
  width: 100px;
  float: left;
  text-align: center;
  margin: 0 20px;
}
.help-quick .bd dl dd {
  margin-top: 15px;
}
.help-quick .bd dl dd a {
  color: #737880;
}
.help-quick .bd dl dd a:hover {
  color: #4285f5;
}
.help-quick .bd .line {
  width: 108px;
  float: left;
  background: url("../images-site/l.png") no-repeat;
  height: 20px;
  margin: 28px 20px 0;
}
.help-contact {
  background: #ffffff;
  padding: 20px 0 40px;
  zoom: 1;
}
.help-contact .hd {
  border-left: 2px solid #f15d59;
  padding-left: 10px;
  line-height: 14px;
  height: 14px;
  margin: 0 20px 30px;
}
.help-contact .bd {
  padding: 20px;
}
.help-contact .bd dl {
  width: 220px;
  float: left;
  text-align: center;
  margin: 0 20px;
}
.help-contact .bd dl dt {
  float: left;
  border-right: 1px solid #e1e3e8;
  padding-right: 10px;
  width: 40px;
  height: 30px;
  margin-top: 10px;
}
.help-contact .bd dl dd {
  margin-left: 65px;
  text-align: left;
  color: #737880;
  line-height: 2em;
}
.help-contact .bd dl dd.show-chat {
  cursor: pointer;
  position: relative;
}
.help-contact .bd dl dd.show-chat:hover img {
  display: block;
}
.help-contact .bd dl dd.show-chat img {
  position: absolute;
  border: 3px solid #ffffff;
  border-radius: 3px;
  top: -63px;
  left: 60px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  display: none;
}
.help-left-menu {
  width: 215px;
  float: left;
  overflow: hidden;
  background: #ffffff;
  line-height: 50px;
  text-align: center;
  color: #666c75;
}
.help-left-menu dt {
  font-size: 18px;
  color: #333333;
}
.help-left-menu dd {
  border-top: 1px solid #f1f3f6;
}
.help-left-menu dd.active,
.help-left-menu dd:hover {
  color: #ffffff;
  background: #5a9bee;
  cursor: pointer;
}
.help-right-content {
  overflow: hidden;
  background: #ffffff;
  padding: 20px;
}
.help-right-content.mgl-240 {
  margin-left: 240px;
}
.help-right-content .hd {
  line-height: 40px;
  border-bottom: 2px solid #e1e3e8;
  margin-bottom: 10px;
  padding-left: 10px;
}
.help-right-content .hd.tabnav {
  font-size: 18px;
}
.help-right-content .hd.tabnav span {
  color: #666666;
  margin-right: 40px;
  margin-left: 10px;
  cursor: pointer;
}
.help-right-content .hd.tabnav span.active {
  border-bottom: 3px solid #5a9bee;
  padding: 0 2px 4px;
  cursor: default;
}
.help-right-content .bd {
  padding-left: 20px;
}
.help-right-content .bd .empty {
  background: url("../images-site/none.png") center 100px no-repeat;
  padding: 260px 0 100px;
  text-align: center;
  color: #e1e3e8;
  font-size: 18px;
}
.help-right-content .bd dl {
  margin-bottom: 10px;
}
.help-right-content .bd dl dt {
  border-bottom: 1px solid #f1f3f6;
  line-height: 55px;
  color: #666c75;
  padding-left: 10px;
  cursor: pointer;
  background: url("../images-site/help-down-icon.png") right center no-repeat;
}
.help-right-content .bd dl dt.down {
  background-image: url("../images-site/help-up-icon.png");
}
.help-right-content .bd dl dd {
  background: #f1f3f6;
  margin-top: 30px;
  margin-left: 10px;
  padding: 10px 20px;
  color: #999999;
  border-radius: 6px;
  line-height: 2em;
  position: relative;
  display: none;
}
.help-right-content .bd dl dd:before {
  content: '';
  width: 18px;
  height: 11px;
  background: url("../images-site/help-icon-01.png") no-repeat;
  position: absolute;
  top: -10px;
  left: 30px;
}
