.uc-unit {
  text-align: right;
  line-height: 30px;
  padding-top: 10px;
  color: #666666;
  font-size: 12px;
}
/*资产 start*/
.hxuc-assets {
  overflow: hidden;
  background: #ffffff;
  padding: 20px;
}
.hxuc-assets:before,
.hxuc-assets:after {
  content: " ";
  display: table;
}
.hxuc-assets:after {
  clear: both;
}
.hxuc-assets .hxuc-tip {
  position: relative;
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url("../images-site/hxuc-answ.png") center center no-repeat;
  vertical-align: middle;
  margin: 0 5px;
  cursor: pointer;
}
.hxuc-assets .cash-detail {
  width: 530px;
  float: left;
}
.hxuc-assets .cash-detail .hd {
  line-height: 30px;
  font-size: 16px;
}
.hxuc-assets .cash-detail .hd .show-money {
  width: 31px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  background: url("../images-site/hxuc-yj.png") center center no-repeat;
  margin-left: 30px;
  cursor: pointer;
}
.hxuc-assets .cash-detail .hd .show-money.active {
  background-image: url("../images-site/hxuc-yj-h.png");
}
.hxuc-assets .cash-detail .line-box {
  padding-bottom: 15px;
  border-bottom: dashed 1px #e1e1e1;
}
.hxuc-assets .cash-detail .line-box dt {
  font-size: 34px;
  color: #1373ee;
  /*font-weight: bold;*/
}
.hxuc-assets .cash-detail .line-box dd {
  float: right;
  margin-left: 40px;
  padding-top: 10px;
  color: #666666;
  line-height: 35px;
  height: 30px;
  overflow: hidden;
}
.hxuc-assets .cash-detail .line-box .num {
  margin-left: 5px;
}
.hxuc-assets .cash-detail .bot-cash {
  padding-top: 20px;
  line-height: 35px;
}
.hxuc-assets .cash-detail .bot-cash li {
  height: 35px;
  color: #666666;
}
.hxuc-assets .cash-detail .bot-cash li .num {
  width: 90px;
  display: inline-block;
  color: #333333;
}
.hxuc-assets .cash-detail .bot-cash li .btn {
  width: 30px;
  margin-right: 10px;
}
.hxuc-assets .cash-detail .bot-cash li .mgr-10 {
  margin-right: 10px;
}
.hxuc-assets .cash-detail .bot-cash li .freeze {
  color: #bbbbbb;
  font-size: 12px;
}
.hxuc-assets .cash-detail .bot-cash li .tool {
  color: #4e7bd4;
}
.hxuc-assets .cash-detail .bot-cash li .tool a {
  color: #4e7bd4;
  vertical-align: middle;
  margin: 0 4px;
}
.hxuc-assets .cash-detail .bot-cash .label {
  color: #666666;
  width: 85px;
  display: inline-block;
}
.hxuc-assets .ext-assets {
  margin-left: 550px;
  line-height: 50px;
  background: #f4f6fa;
  padding: 10px 0;
}
.hxuc-assets .ext-assets .clock {
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url("../images-site/hxuc-clock.png") no-repeat;
  margin: 0 5px;
  vertical-align: middle;
  cursor: pointer;
}
.hxuc-assets .ext-assets li {
  padding-left: 55px;
  color: #666666;
}
.hxuc-assets .ext-assets li:hover {
  color: #4e7bd4;
  cursor: pointer;
}
.hxuc-assets .ext-assets li .btn {
  margin-left: 30px;
  position: relative;
  width: 40px;
}
.hxuc-assets .ext-assets li .btn i {
  font-style: normal;
}
.hxuc-assets .ext-assets li .btn .intergral-num {
  position: absolute;
  top: -30px;
  left: 18px;
  color: #e9524b;
  display: none;
}
.hxuc-assets .ext-assets li.coupon {
  background: url("../images-site/hxuc-yhq.png") 18px center no-repeat;
}
.hxuc-assets .ext-assets li.coupon.active {
  background-image: url("../images-site/hxuc-yhq-h.png");
}
.hxuc-assets .ext-assets li.inc {
  background: url("../images-site/hxuc-jxq.png") 18px center no-repeat;
}
.hxuc-assets .ext-assets li.inc.active {
  background-image: url("../images-site/hxuc-jxq-h.png");
}
.hxuc-assets .ext-assets li.integral {
  background: url("../images-site/hxuc-jf.png") 18px center no-repeat;
}
.hxuc-assets .ext-assets li.integral.active {
  background-image: url("../images-site/hxuc-jf-h.png");
}
.hxuc-assets .ext-assets li.fri {
  background: url("../images-site/hxuc-fri.png") 18px center no-repeat;
}
.hxuc-assets .ext-assets li.fri.active {
  background-image: url("../images-site/hxuc-fri-h.png");
}
/*资产 start*/
/*资金占比*/
.re-allocators {
  padding: 10px 30px;
}
.re-allocators .hd {
  line-height: 30px;
  font-size: 16px;
}
.re-allocators .bd {
  overflow: hidden;
}
.re-allocators .bd .left-allocator {
  width: 250px;
}
.re-allocators .bd .left-allocator ul {
  line-height: 35px;
  color: #a1abbb;
  padding: 20px 0 0 0;
}
.re-allocators .bd .left-allocator ul em {
  width: 10px;
  height: 10px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
  border-radius: 100px;
  background: #82a7f0;
  margin-top: -3px;
  *margin-top: 0px;
  /*颜色配置*/
  /*颜色配置*/
}
.re-allocators .bd .left-allocator ul em.c1 {
  background: #1373ee;
}
.re-allocators .bd .left-allocator ul em.c2 {
  background: #5a9bee;
}
.re-allocators .bd .left-allocator ul em.c3 {
  background: #05b3db;
}
.re-allocators .bd .left-allocator ul em.c4 {
  background: #fcb926;
}
.re-allocators .bd .left-allocator ul em.c5 {
  background: #55c8c6;
}
.re-allocators .bd .left-allocator ul em.c6 {
  background: #55c8c6;
}
.re-allocators .bd .left-allocator ul em.c7 {
  background: #82a7f0;
}
.re-allocators .bd .content {
  margin-left: 250px;
  height: 280px;
}
/*回款记录*/
.payment-records {
  padding: 10px 30px;
}
.payment-records .hd {
  line-height: 30px;
  font-size: 16px;
}
.payment-records .bd {
  padding-bottom: 20px;
  overflow: hidden;
}
.payment-records .bd .leftcalendar {
  width: 590px;
  overflow: hidden;
}
.payment-records .bd .payment-des {
  margin-left: 620px;
}
.payment-records .bd .payment-des dl {
  padding-top: 30px;
}
.payment-records .bd .payment-des dl dd {
  line-height: 30px;
  border-bottom: 1px dashed #e1e3e8;
  padding: 5px 0;
}
.payment-records .bd .payment-des dl dt {
  margin-top: 90px;
  line-height: 26px;
  color: #666666;
}
.payment-records .bd .payment-des dl dt em {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;
  background: #82a7f0;
  border-radius: 100px;
  vertical-align: middle;
}
.payment-records .bd .payment-des dl dt em.end {
  background: #d7d7d7;
}
.payment-records .bd .payment-des dl dt em.will {
  background: #f29233;
}
/*
推荐标*/
.recom-shop {
  padding: 10px 30px;
}
.recom-shop .hd {
  line-height: 30px;
  font-size: 16px;
}
.recom-shop .bd {
  overflow: hidden;
  zoom: 1;
  padding: 20px 0;
}
.recom-shop .bd .shop-box {
  width: 218px;
  padding: 40px 20px 40px;
  overflow: hidden;
  zoom: 1;
  float: left;
  margin-right: 30px;
  border: 1px solid #e1e3e8;
  border-top: 3px solid #1373ee;
  text-align: left;
  cursor: pointer;
}
.recom-shop .bd .shop-box:hover {
  box-shadow: 0 10px 20px #c8cfd8;
}
.recom-shop .bd .shop-box h3 {
  font-size: 16px;
  font-weight: normal;
}
.recom-shop .bd .shop-box .shop-des {
  margin-top: 35px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.recom-shop .bd .shop-box .shop-des .line {
  position: absolute;
  width: 0px;
  border-left: 1px dashed #e1e3e8;
  height: 100%;
  left: 50%;
  top: 0;
}
.recom-shop .bd .shop-box .shop-des dl {
  width: 50%;
}
.recom-shop .bd .shop-box .shop-des dl dt {
  color: #1373ee;
  font-size: 34px;
  line-height: 1.4em;
}
.recom-shop .bd .shop-box .shop-des dl dd {
  color: #666c75;
  line-height: 1.4em;
}
