.uc-wplan-bd {
  overflow: hidden;
}
.uc-wplan-bd .menu-tab {
  line-height: 30px;
  overflow: hidden;
  font-size: 16px;
}
.uc-wplan-bd .menu-tab .tab {
  margin-right: 20px;
  color: #666c75;
  cursor: pointer;
}
.uc-wplan-bd .menu-tab .tab.active {
  color: #226eed;
  cursor: default;
}
